<h1><%= t('views.sessions.new.title')%></h1>

<%= form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email, :type => "email" %>
  </div>

  <div class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit_field">
    <%= form.submit t('views.sessions.new.sign_in') %>
  </div>

  <div id="session-help">
  <ul>
    <li>
      <%= link_to t('views.sessions.new.sign_up'), sign_up_path %>
    </li>
    <li>
      <%= link_to t('views.sessions.new.forgot_password'), new_password_path %>
    </li>
  </ul>
  </div>
<% end %>