<%= semantic_form_for(@round) do |f| %>
  <%= f.inputs do %>
      <%= f.hidden_field :game_id%>
      <li class="text">
      <%= f.label :game_id %> <%= autocomplete_field_tag 'game', '', autocomplete_game_name_games_path, :value => @round.game ? @round.game.name : '', 
                                 :update_elements => { :id => '#round_game_id' } %></li>
      <%= f.hidden_field :arena_id%>
      <li class="text">
      <%= f.label :arena_id %> <%= autocomplete_field_tag 'arena', '', autocomplete_arena_name_arenas_path, :value => @round.arena ? @round.arena.name : '', 
                                 :update_elements => { :id => '#round_arena_id' } %></li>
      <%= f.input :description, :required => false, :hint => 'This is an optional description for your round' %>
      <%= f.input :deadline, :required => false, :start_year => Time.now.year %>
      <%= f.input :date, :required => false, :start_year => Time.now.year %>
      <%= f.input :max_people, :required => false %>
      <%= f.input :min_people, :required => false%>
    <% end %>
  <%= f.buttons %>
<% end %>
