<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div class="error">
      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :max_people %><br />
    <%= f.text_field :max_people %>
  </div>
  <div class="field">
    <%= f.label :min_people %><br />
    <%= f.text_field :min_people %>
  </div>
  <div class="field">
    <%= f.label :arena_id %><br />
    <%= f.collection_select :arena_id, Arena.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.collection_select :game_id, Game.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
