<h1><%= t('views.rounds.edit.title') %></h1>

<%= semantic_form_for(@round) do |f| %>
  <%= f.inputs do %>
    <%= f.input :description, :required => false, :hint => t('formtastic.hints.round.description') %>
  <% end %>
  
  <%= f.buttons %>
<% end %>