<h1><%= t('views.rounds.edit.title') %></h1>

<%= simple_form_for(@round) do |f| %>
  <%= f.inputs do %>
    <%= f.input :description, :required => false %>
  <% end %>
  
  <%= f.button :submit %>
<% end %>