<h1>Listing rounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deadline</th>
    <th>Date</th>
    <th>Confirmed</th>
    <th>Max people</th>
    <th>Min people</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.name %></td>
    <td><%= round.deadline %></td>
    <td><%= round.date %></td>
    <td><%= round.confirmed %></td>
    <td><%= round.max_people %></td>
    <td><%= round.min_people %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Round', new_round_path %>
