<div id="title">
  <h1>Rounds</h1>
  <%= link_to('Start a new round!', new_round_path) %>
</div>

<% if @rounds.empty? %>
  <p class="empty-list-message">There are no rounds in your city.
<% else %>
  <ul id="rounds">
  <% @rounds.each do |round| %>
    <li class="round">
      <div class="date left-column">
        <div class="month">
          <%= t('date.abbr_month_names')[round.date.month] %>
        </div>
        <div class="day">
          <%= "%02d" % round.date.day %>
        </div>
        <div class="wday">
          <%= t('date.day_names')[round.date.wday] %>
        </div>
      </div>
      <div class="game left-column">
        <%= link_to round.game.name, game_path(round.game) %>
      </div>
      <div class="subscribers left-column">
        <div class="details">
          <h2 class="arena">
            <%= link_to round.arena.name, arena_path(round.arena) %> <%= " (at #{round.date.hour}:#{round.date.min})" %>
          </h2>
          <h3>
            <%= round_status_message(round) %>
          </h3>
        <ul>
          <% round.max_people.times do |n| %>
            <li>
              <% if n < round.all_subscribers.count %>
                <%= image_tag round.all_subscribers[n].avatar.url(:thumb), :width => '35', :height => '35' %>
              <% elsif n < round.min_people %>
                <div class="remaining-spot min"></div>
              <% else %>
                <div class="remaining-spot"></div>
              <% end%>
            </li>
          <% end%>
        </ul>
        </div>
      </div>

      <div class="actions right-column">
        <% if can? :read, round %>
          <%= link_to 'Show', round %>
        <% end %>

        <div class="spots">
          <% unless round.past_deadline? %>
            <%= t :number_of_spots_left, :count => round.remaining_spots %>
          <% end %>
        </div>
      </div>

      <div class="clear"></div>
    </li>
  <% end %>
  </ul>
<% end %>