<h1>Rounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deadline</th>
    <th>Date</th>
    <th>Confirmed</th>
    <th>Max people</th>
    <th>Min people</th>
	  <th>Arena</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.name %></td>
    <td><%= round.deadline %></td>
    <td><%= round.date %></td>
    <td><%= round.confirmed %></td>
    <td><%= round.max_people %></td>
    <td><%= round.min_people %></td>
	  <td><%= round.arena.name %></td>
    <td><%= round.game.name %></td>
    <% if can? :read, round %>
      <td><%= link_to 'Show', round %></td>
    <% end %>
    <% if can? :update, round %>
      <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <% end %>
    <% if can? :destroy, round %>
      <td><%= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Round %>
    <%= link_to 'New Round', new_round_path %>
<% end %>