<p>
  <b>Created by:</b>
  <%= @round.user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @round.name %>
</p>

<p>
  <b>Deadline:</b>
  <%= @round.deadline %>
</p>

<p>
  <b>Date:</b>
  <%= @round.date %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @round.confirmed %>
</p>

<p>
  <b>Max people:</b>
  <%= @round.max_people %>
</p>

<p>
  <b>Min people:</b>
  <%= @round.min_people %>
</p>

<p>
  <b>Arena:</b>
  <%= @round.arena.name %>
</p>

<p>
  <b>Game:</b>
  <%= @round.game.name %>
</p>

<p>
  <b><%= t :number_of_subscribed_people, :count => @round.subscriptions.count %>:</b>
  <ul>
  <% for subscription in @round.subscriptions %>
    <li><%=h subscription.user.email %></li>
  <% end %>
</ul>
</p>

<p><b>
<% if @round.full? %>
  This round is full!
<% else %>
  <%= t :number_of_spots_left, :count => @round.remaining_spots %>
<% end %>
</b></p>

<div id="comments">
  <% @round.comments.each do |comment| %>
    <p><%= comment.text %></p>
    <p><%= comment.user.email %></p>

    <% if can? :destroy, comment %>
      <%= link_to 'Destroy', comment_path(comment), :method => :delete, :confirm => 'Are you sure?' %>
    <% end %>
  <% end %>

  <%= form_for @comment do |f| %>
    <% if @comment.errors.any? %>
      <div class="error">
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :text %><br />
      <%= f.text_area :text %>
    </div>

    <%= f.hidden_field :round_id %>

    <%= f.submit 'Add Comment' %>
  <% end%>
</div>

<% unless current_user.subscribed?(@round) %>
  <% unless @round.full? || cannot?(:manage_subscription_of, @round) %>
    <%= link_to "Subscribe", subscriptions_path(:id => @round.id), :confirm => 'Are you sure?', :method => :post %> |
  <% end %>
<% else %>
  <% if  can? :manage_subscription_of, @round %>
    <%= link_to "Unsubscribe", subscription_path(:id => @round.id), :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
<% end %>

<% if can? :update, @round %>
  <%= link_to 'Edit', edit_round_path(@round) %> |
<% end %>
<%= link_to 'Back', rounds_path %>