<p>
  <b>Name:</b>
  <%= @round.name %>
</p>

<p>
  <b>Deadline:</b>
  <%= @round.deadline %>
</p>

<p>
  <b>Date:</b>
  <%= @round.date %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @round.confirmed %>
</p>

<p>
  <b>Max people:</b>
  <%= @round.max_people %>
</p>

<p>
  <b>Min people:</b>
  <%= @round.min_people %>
</p>

<p>
  <b>Arena:</b>
  <%= @round.arena.name %>
</p>

<p>
  <b>Game:</b>
  <%= @round.game.name %>
</p>

<p>
  <b>Subscribers:</b>
  <ul>
  <% for subscription in @round.subscriptions %>
    <li><%=h subscription.user.email %></li>
  <% end %>
</ul>
</p>

<%unless current_user.subscribed?(@round) %>
  <%= link_to "Subscribe", subscriptions_path(:id => @round.id), :method => :post %> |
<% else %>
  <%= link_to "Unsubscribe", subscription_path(:id => @round.id), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
