<%= content_for :javascripts do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var latlng = new google.maps.LatLng(<%= @round.arena.latitude %>,<%= @round.arena.longitude %>);

    var myOptions = {
      scrollwheel: false,
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("location_map"),
        myOptions);

    marker = new google.maps.Marker({
        position: latlng, 
        map: map,
      });

    google.maps.event.addListener(marker, 'position_changed', function() {
      var latLng = marker.getPosition();

      $("#arena_latitude").attr('value', latLng.lat().toString(10));
      $("#arena_longitude").attr('value', latLng.lng().toString(10));
    });
  });
</script>
<% end %>

<div id="round-title">
  <h1>
    <%= link_to @round.game.name, game_path(@round.game)%> - <%= l @round.date, :format => :long %>
      <span class="actions">
      <% if can? :update, @round %>
        | <%= link_to 'Edit', edit_round_path(@round) %>
      <% end %>
      <% if can? :destroy, @round %>
        | <%= link_to 'Delete', round_path(@round), :method => 'delete', :confirm => 'Are you sure?' %>
      <% end %>
      </span>
  </h1>
  <h2><%= link_to @round.arena.name, arena_path(@round.arena) %> - <%= @round.arena.address %></h2>
</div>

<div id="round-infos">
  <div id="location_map" class="left-column" style="width: 650px; height: 200px;"></div>  

  <div class="right-column">
    <% if can? :confirm, @round %>
      <% if !@round.confirmed && !@round.past? %>
        <%= button_to 'Confirm', round_confirmation_path(@round), :id => 'confirm', :disabled => !@round.confirmable? %>
        <%= round_confirmation_message(@round) %>
      <% end %>
    <% else %>
      <% if can?(:unsubscribe_from, @round) %>
        <%= button_to "Unsubscribe", round_subscription_path(@round), :id => 'unsubscribe', :confirm => 'Are you sure?', :method => :delete %>
      <% elsif can?(:subscribe_to, @round) %>
        <%= button_to "Subscribe", round_subscription_path(@round), :id => 'subscribe', :confirm => 'Are you sure?', :method => :post %>
        <%= round_subscription_message(@round) %>
      <% end %>
    <% end %>
    
    <p class="status">
      <%= round_status_message(@round) %>
    </p>
  </div>  
  <div class="clear"></div>

  <% unless @round.description.blank? %>
    <p class="additional-notes"><strong>Additional notes:</strong> <%= @round.description %></p>
  <% end %>
</div>


<div id="subscribers">
<% if @round.past? %>
  <h2>People that subscribed to this round</h2>
<% else %>
  <h2>
    People you will meet at this round
    
    <% if @round.subscribable? %>
      (<%= t :number_of_spots_left, :count => @round.remaining_spots %>)
    <% end %>
  </h2>
<% end%>
<ul>
  <% @round.subscribers_and_owner.each do |user| %>
    <li>
      <a href="<%= user_path(user) %>">
      <div class="image"><%= image_tag user.avatar.url(:thumb) %></div>
      <div class="user-details"><%= user.display_name %></div>
      </a>
    </li>
  <% end%>
</ul>

<div class="clear"></div>

</div>

<div id="comments">
  <h2>Post your comments</h2>
  <ul>
  <% @round.comments.each do |comment| %>
    <li>
      <div class="header">
        <%= image_tag comment.user.avatar.url(:thumb), :width => '35', :height => '35' %>
        <%= link_to comment.user.display_name, user_path(comment.user) %>
        <span><%= time_ago_in_words comment.created_at %> ago</span>
        <span class="actions">
          <% if can? :destroy, comment %>
            <%= link_to 'Delete', comment_path(comment), :method => :delete, :confirm => 'Are you sure?' %>
          <% end %>
        </span>
      </div>

      <p><%= comment.text %></p>
  <% end %>

  <%= form_for @comment do |f| %>
    <% if @comment.errors.any? %>
      <div class="error">
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :text %>
    </div>

    <%= f.hidden_field :round_id %>

    <%= f.submit 'Add Comment' %>
  <% end%>
</div>