<h1><%= t('views.users.new.title')%></h1>

<%= form_for @user do |form| %>
<% if @user.errors.any? %>
    <div class="error">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => '/users/form', :object => form %>
  <div class="submit_field">
    <%= form.submit t('views.users.buttons.sign_up') %>
  </div>
<% end %>