<div id="user">
  <h1>
    <%= @user.display_name %> <% if can? :update, @user %>
      | <%= link_to 'Edit', edit_user_path(@user) %>
    <% end %>
  </h1>

  <div class="left-column">
    <div class="boxed-item" style="min-height: 300px">
      <% unless @user.real_name.blank? %>
      <p>
        <strong>Real name:</strong> <%= @user.real_name %>
      </p>
      <% end %>
      <p>
        <strong>Email:</strong> <%= @user.email %>
      </p>
    </div>
  </div>
  
  <div class="right-column">
    <div class="boxed-item" style="min-width: 300px;">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
  </div>
  
  <div class="clear"></div>
  
</div>