<div id="user">
  <h1>
    <%= @user.display_name %> <% if can? :update, @user %>
      | <%= link_to 'Edit', edit_user_path(@user) %>
    <% end %>
  </h1>

  <div class="left-column">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  
  <% unless @user.real_name.blank? %>
  <p>
    <strong>Real name:</strong> <%= @user.real_name %>
  </p>
  <% end %>
  
  <% if can? :read_email_of, @user %>
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  <% end %>
</div>