<style type="text/css">
  div.auto_complete ul li .latitude, div.auto_complete ul li .longitude {
    display: none;
  }
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var latlng = new google.maps.LatLng(<%= @arena.latitude %>,<%= @arena.longitude %>);

    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("location_map"),
        myOptions);

    marker = new google.maps.Marker({
        position: latlng, 
        map: map,
        draggable: true,
      });

    google.maps.event.addListener(marker, 'position_changed', function() {
      var latLng = marker.getPosition();

      $("#arena_latitude").attr('value', latLng.lat().toString(10));
      $("#arena_longitude").attr('value', latLng.lng().toString(10));
    });

    $("#arena_address").bind('railsAutocomplete.select', function() {
      var position = new google.maps.LatLng(parseFloat($("#arena_latitude").attr("value")), parseFloat($("#arena_longitude").attr("value")));
      marker.setPosition(position);
      map.setCenter(position);
    });
  });
</script>

<%= semantic_form_for @arena, :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :image %>
  <%= f.autocompleted_input :address, :size => nil, :url => autocomplete_address_arenas_path, :update_elements => 
    { :latitude => '#arena_latitude', :longitude => '#arena_longitude'} %>
    
  <div id="location_map" class="map" style="height: 400px"></div>
  
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <% end %>
  <%= f.buttons %>
<% end %>