<div id="title">
  <h1><%= t('views.arenas.index.title')%></h1>
  <%= link_to(t('views.arenas.index.create_new'), new_arena_path) %>
</div>

<% if @arenas.empty? %>
  <p class="empty-list-message"><%= t('views.arenas.index.empty_list')%></p>
<% else %>
  <ul id="arenas">
    <% @arenas.each do |arena| %>
    <li>
      <a href="<%= arena_path(arena) %>">
        <div class="image"><%= image_tag arena.image.url(:thumb) %></div>
        <div class="arena-details">
          <%= arena.name %>
        </div>
      </a>
    </li>
    <% end%>
  </ul>
<% end %>