<h1>Arenas</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arenas.each do |arena| %>
  <tr>
    <td><%= arena.name %></td>
    <% if can? :read, arena %>
      <td><%= link_to 'Show', arena %></td>
    <% end %>
    <% if can? :update, arena %>
      <td><%= link_to 'Edit', edit_arena_path(arena) %></td>
    <% end %>
    <% if can? :destroy, arena %>
      <td><%= link_to 'Destroy', arena, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Arena %>
    <%= link_to 'New Arena', new_arena_path %>
<% end %>