<p>
  <b>Name:</b>
  <%= @arena.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @arena.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @arena.longitude %>
</p>


<%= link_to 'Edit', edit_arena_path(@arena) %> |
<%= link_to 'Back', arenas_path %>
