<div id="arena">
  <h1>
    <%= @arena.name %> - <%= @arena.address %> <% if can? :update, @arena %>
      | <%= link_to 'Edit', edit_arena_path(@arena) %>
    <% end %>
  </h1>

  <div class="left-column">
    <%= image_tag @arena.image.url(:medium) %>
  </div>

  <p>
    <%= @arena.description %>
  </p>
</div>


