<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'pages/index' %>
<% end %>

<header>
  <div class="container">
    <div id="logo">
      <%= image_tag 'logo.png' %>
    </div>
    
    <h1><%= t('views.pages.index.slogan1') %> <em><%= t('views.pages.index.slogan2') %></em></h1>
  </div>
</header>

<div id="content">
  <div class="container">
    <section id="signin">
      <div class="vertical">
        <%= form_for :session, :url => session_path do |form| %>
          <%= form.label :email %>
          <%= form.text_field :email %>
          <%= form.label :password %>
          <%= form.password_field :password %>

          <p><%= t('views.pages.index.no_account') %> <%= link_to "#{t('views.base.sign_up')}!", sign_up_url %></p>
    
          <%= form.submit "#{t('views.base.sign_in')}!" %>
        <% end %>
      </div>
    </section>
  
    <section id="description">
      <div class="vertical">
        <h1>
          <%= t('views.pages.index.description1') %><br />
          <%= t('views.pages.index.description2') %><br />
          <%= t('views.pages.index.description3') %>
        </h1>
  
        <%= link_to t('views.pages.index.view_rounds'), rounds_path %>
      </div>
    </section>
  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>