<div id="header">
  <div class="container">
    <div class="left-column">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="right-column">
      <h2>Stop sharing. <em>Start being.</em></h2>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="left-column">
      <%= form_for @user, :html => { :id => 'signup-form' } do |form| %>
        <div class="text_field">
          <%= form.text_field :email, :id => 'email-field', :placeholder => 'Email address', :autocomplete => 'off' %>
        </div>
        <div class="password_field">
          <%= form.password_field :password, :id => 'password-field', :autocomplete => 'off' %>
        </div>
        <div class="text_field">
          <%= text_field_tag 'text-password', nil, :id => 'text-password-field', :placeholder => 'Password', :autocomplete => 'off', :size => 30 %>
        </div>

        <p>Already a rounder? <%= link_to 'Sign in!', '/sign_in' %></p>
      
        <%= form.submit 'Sign up!', :id => 'signup-button' %>
      <% end %>
    </div>
    
    <div class="right-column">
      <h1>
        Choose a game.<br />
        Pick a place.<br />
        Meet new people.
      </h1>
    
      <%= link_to 'View rounds around you!', rounds_path, :id => 'rounds-button' %>
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyright © Playround 2011. All rights reserved.</p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#email-field").placeholder();
    $("#password-field").placeholder();

    $('#text-password-field').focus(function() {
      $('#text-password-field').hide();
      $('#password-field').show();
      $('#password-field').focus();
    });
      
    $('#password-field').blur(function() {
      if($('#password-field').val() == '') {
        $('#text-password-field').show();
        $('#password-field').hide();
      }
    });
  });
</script>