<div id="header">
  <div class="container">
    <div class="left-column">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="right-column">
      <h2>Stop sharing. <em>Start being.</em></h2>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="left-column">
      <%= form_for @user, :html => { :id => 'signup-form' } do |form| %>
          <%= form.label :email %>
          <%= form.text_field :email, :autocomplete => 'off' %>
          <%= form.label :password %>
          <%= form.password_field :password, :autocomplete => 'off' %>

        <p>Already a rounder? <%= link_to 'Sign in!', '/sign_in' %></p>
      
        <%= form.submit 'Sign up!', :id => 'signup-button' %>
      <% end %>
    </div>
    
    <div class="right-column">
      <h1>
        Choose a game.<br />
        Pick a place.<br />
        Meet new people.
      </h1>
    
      <%= link_to 'View rounds around you!', rounds_path, :id => 'rounds-button' %>
    </div>
  </div>
</div>

<div id="footer">
  <p>Copyright © Playround 2011. All rights reserved.</p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if('placeholder' in document.createElement('input')) {
      $("#user_email, #user_password").each(function(i, f) {
        var field = $(f);
        var label = $("label[for=" + field.attr('id') + "]");

        label.hide();
        field.attr('placeholder', label.text());
      });
    }
  });
</script>