<div id="header">
  <div class="container">
    <div class="left-column">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="right-column">
      <h2><%= t('views.pages.title1') %> <em><%= t('views.pages.title2') %></em></h2>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="left-column">
      <%= form_for @user, :html => { :id => 'signup-form' } do |form| %>
          <%= form.label :email %>
          <%= form.text_field :email, :autocomplete => 'off' %>
          <%= form.label :password %>
          <%= form.password_field :password, :autocomplete => 'off' %>

        <p>Already a rounder? <%= link_to t('views.pages.sign_in'), '/sign_in' %></p>
      
        <%= form.submit t('views.pages.sign_up'), :id => 'signup-button' %>
      <% end %>
    </div>
    
    <div class="right-column">
      <h1>
        <%= t('views.pages.slogan1') %><br />
        <%= t('views.pages.slogan2') %><br />
        <%= t('views.pages.slogan3') %>
      </h1>
    
      <%= link_to t('views.pages.view_rounds_around_you'), rounds_path, :id => 'rounds-button' %>
    </div>
  </div>
</div>

<div id="footer">
  <p><%= t('views.layouts.footer')%></p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if('placeholder' in document.createElement('input')) {
      $("#user_email, #user_password").each(function(i, f) {
        var field = $(f);
        var label = $("label[for=" + field.attr('id') + "]");

        label.hide();
        field.attr('placeholder', label.text());
      });
    }
  });
</script>