<h1>Games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.description %></td>
    <% if can? :read, game %>
      <td><%= link_to 'Show', game %></td>
    <% end %>
    <% if can? :update, game %>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <% end %>
    <% if can? :destroy, game %>
      <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @game %>
    <%= link_to 'New Game', new_game_path %>
<% end %>