<h2><%= t('views.passwords.title') %></h2>

<p>
  <%= t('views.passwords.password_reset') %>
</p>

<%= form_for(:user,
             :url  => user_password_path(@user, :token => @user.confirmation_token),
             :html => { :method => :put }) do |form| %>
  <div class="password_field">
    <%= form.label :password, t('views.passwords.change_password') %>
    <%= form.password_field :password %>
  </div>
  <div class="submit_field">
    <%= form.submit t('views.passwords.save_this_password') %>
  </div>
<% end %>
