<%= content_for :dashboard_content do %>
  <h2>Prending Rounds</h2>
  <ul>
    <% @prending_rounds.each do |round| %>
      <li>
        <span><%= round.arena.name %></span>
        <span><%= round.game.name %></span>
        <span><%= round.user.display_name %></span>
        <span><%= button_to 'Approve', round_approvals_path(round), :method => :post %></span>
        <span><%= button_to 'Reject', round_approvals_path(round), :method => :delete %></span>
      </li>
    <% end %>
  </ul>
  
  <h2>Approved Rounds</h2>
  
  <ul>
    <% @approved_rounds.each do |round| %>
      <li>
        <span><%= round.arena.name %></span>
        <span><%= round.game.name %></span>
        <span><%= round.user.display_name %></span>
      </li>
    <% end %>
  </ul>
<% end %>