<% if signed_in? && current_user.shows_quicktour? %>
  <%= content_for :javascripts do %>
    <%= javascript_include_tag 'guiders' %>
    <%= javascript_include_tag 'quicktour' %>
    
    <script type="text/javascript" charset="utf-8">
      $(function() {
        Quicktour.initialize({
          guiders: <%= raw Quicktour::GUIDERS.to_json %>,
          path: <%= raw user_quicktours_path(current_user).to_json %>
        });
        
        Quicktour.show(<%= raw current_user.quicktour.current_guider.to_json %>);
      });
    </script>
  <% end %>

  <%= content_for :stylesheets do %>
    <%= stylesheet_link_tag 'guiders' %>
  <% end %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'application' %>
<% end %>

<% content_for :body do %>
  <section id="session">
    <div class="container">
      <nav>
        <ul>
          <li>
            <%= form_tag locations_path, :method => :put, :id => 'update-location-form' do %>
              <%= hidden_field_tag 'redirect_to', request.fullpath %>
              <%= text_field_tag 'location', '' %>
            <% end %>
        
            <%= link_to(located? ? location_name(current_location) : t('views.layouts.application.unknown_location'),
                        'javascript:void(0)',
                        :id => 'update-location-link') %>
          </li>
      
          <% if signed_in? %>
            <li><%= link_to current_user.display_name, user_path(current_user), :id => 'update-profile-link' %></li>
            <li><%= link_to t('views.layouts.application.dashboard'), dashboards_path(current_user) %></li>
            <li><%= link_to t('views.base.sign_out'), sign_out_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to t('views.base.sign_in'), sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </section>

  <header>
    <div class="container">
      <%= link_to(image_tag('logo-small.png'), root_path, :id => 'logo') %>
      
      <nav>
        <ul>
          <li><%= link_to t('views.layouts.application.rounds'), rounds_path, :id => 'rounds-nav' %> </li>
          <li><%= link_to t('views.layouts.application.arenas'), arenas_path, :id => 'arenas-nav' %> </li>
          <li><%= link_to t('views.layouts.application.games'), games_path, :id => 'games-nav' %> </li>
          <li><%= link_to t('views.layouts.application.people'), users_path, :id => 'people-nav' %> </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="content">
    <div class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>