<% if signed_in? && current_user.shows_quicktour? %>
  <%= content_for :javascripts do %>
    <script type="text/javascript" charset="utf-8">
      var available_guiders = <%= raw Quicktour::GUIDERS.to_json %>;
      var current_guider = <%= raw current_user.current_guider_name.to_json %>;
      var quicktour_path = <%= raw user_quicktour_path(current_user).to_json %>;
    </script>

    <%= javascript_include_tag 'guiders' %>
    <%= javascript_include_tag 'quicktour' %>
  <% end %>

  <%= content_for :stylesheets do %>
    <%= stylesheet_link_tag 'guiders' %>
  <% end %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>Playround | Stop sharing. Start being.</title>
    <%= stylesheet_link_tag 'playround', 'jquery-ui/jquery.ui.all' %>
    <%= yield :stylesheets %>
    
    <%= csrf_meta_tag %>
  </head>
<body>
  <% unless flash.empty? %>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
  <% end %>
    <div id="session">
      <div class="container">
        <%= form_tag location_path, :method => :put, :id => 'location-form' do %>
          <%= hidden_field_tag 'redirect_to', request.fullpath %>
          <%= text_field_tag 'location', '' %>
        <% end %>
        
        <%= link_to(located? ? [current_location.name, current_location.country].join(', ') : 'Unknown location', 'javascript:void(0)', :id => 'change-location') %> |
        
        <% if signed_in? -%>
          <%= link_to current_user.display_name, user_path(current_user), :id => 'change-profile' %> |
          <%= link_to "Dashboard", dashboard_path(current_user) %> |
          <%= link_to "Sign out", sign_out_path, :method => :delete %>
        <% else -%>
          <%= link_to "Sign in", sign_in_path %>
        <% end -%>
      </div>
    </div>
    <div id="header">
    <div class="container">
      <div class="left-column">
        <%= link_to(image_tag('logo-small.png'), root_path) %>
      </div>
      <div class="right-column">
        <ul>
          <li><%= link_to "Rounds", rounds_path, :id => 'rounds-nav' %> </li>
          <li><%= link_to "Arenas", arenas_path, :id => 'arenas-nav' %> </li>
          <li><%= link_to "Games", games_path, :id => 'games-nav' %> </li>
          <li><%= link_to "People", users_path, :id => 'people-nav' %> </li>
        </ul>
      </div>
    </div>
</div>
    <div id="content">
      <div class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
    <div id="footer">
      <p>Copyright © Playround 2011. All rights reserved.</p>
    </div>
</body>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'autocomplete-rails.js' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#location-form input').blur(function(event) {
      $('#location-form').css('display', 'none');
      $('#change-location').css('display', 'inline');
    });
    $('#change-location').click(function(event){
      $(this).css('display', 'none');
      $('#location-form').css('display', 'inline');
      $('#location-form input').focus();
      
      event.preventDefault();
    });
  });
</script>

<%= yield :javascripts %>
</html>
