<!DOCTYPE html>
<html>
  <head>
    <title><%= t('views.layouts.title')%></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'pages' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
