<!DOCTYPE html>
<html>
  <head>
    <title>Playround | Stop sharing. Start being.</title>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.placeholder' %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'pages' %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
